h1 {
  text-align: center;
  padding-top: 45px;
  color: white;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.container {
  max-width: 800px;
  background-color: #1996da;
  margin: auto;
}

.row {
  display: flex;
}

.column1 {
  padding-top: 10px;
  padding-left: 110px;
  padding-right: 70px;
}

.circle {
  height: 80px;
  width: 80px;
  background-color: rgb(247 244 244);
  border-radius: 50%;
  display: inline-block;
}

.pictures {
  display: block;
  position: absolute;
  height: 15px;
  padding-top: 25px;
  padding-left: 130px;
  padding-right: 80px;
}

.pictures1 {
  display: block;
  position: absolute;
  height: 15px;
  padding-top: 30px;
  padding-left: 388px;
  padding-right: 80px;
}

.pictures3 {
  display: block;
  position: absolute;
  height: 15px;
  padding-top: 30px;
  padding-left: 648px;
  padding-right: 80px;
}

.column2 {
  color: white;
  font-size: 13px;
  padding-left: 78px;
  padding-right: 17px;
  padding-top: 15px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.column3 {
  color: white;
  padding-left: 50px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  font-size: 13px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  line-height: normal;
}
